.poCard {
  position: relative;
  // border: 1px solid rgb(255, 119, 0);
}
.poCard:hover {
}
.slick-dots li button:before {
  color: #f26c13 !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
